<div class="nav-menu">
    <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="">
        <li class="layui-nav-item"><a href="${ctxPath}/apiDocProject/introduce">项目简介</a></li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">我的项目</a>
            <dl class="layui-nav-child">
                <dd><a href="${ctxPath}/apiDocProject/public">公开项目</a></dd>
                <dd><a href="${ctxPath}/apiDocProject">我创建的项目</a></dd>
                <dd><a href="${ctxPath}/apiDocProject/joined">我加入的项目</a></dd>
               <!-- <dd><a href="${ctxPath}/apiDocModule">项目模块</a></dd>
                <dd><a href="${ctxPath}/apiDocInterface">模块接口</a></dd>-->
            </dl>
        </li>
        <li class="layui-nav-item"><a href="${ctxPath}/apiDocProjectUser">成员列表</a></li>
        <li class="layui-nav-item"><a href="${ctxPath}/apiDocProjectUser/receiveInvite">我收到的邀请</a></li>
        <li class="layui-nav-item"><a href="${ctxPath}/apiDocProjectUser/postInvite">我发起的邀请</a></li>
    </ul>
</div>