<meta charset="utf-8" />
<meta name="keywords" content="飞趣，有趣，社区，同学，同事，白领，交友，聊天，想法，励志文章，博客，帅哥，美女，吐槽">
<meta name="description" content="飞趣社区 是真实的社交网络 为了联络你和你周围的朋友，然后交流互相的想法，发表自己的文章，和朋友分享相片、音乐和电影，展示自我，从而帮助大家更好得成长">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta property="wb:webmaster" content="737c5a069d0908fd" />
<meta name="wlhlauth" content="ee2d11975db8b8dbb4d89cf34f51fb10"/>
<link rel="shortcut icon" href="http://res.flyfun.site/favicon.ico">
<link rel="stylesheet" href="//at.alicdn.com/t/font_24081_lyaxcfn8fp1iqkt9.css">
<link rel="stylesheet" href="${ctxPath}/layui/css/layui.css?v=${LAYUI_VERSION}">
<link rel="stylesheet" href="${ctxPath}/css/common.min.css?v=${VERSION}">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57e9a5bfc4003c9bc1fd23dba7598170";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>