<div class="home-nav">
    <div class="left-block">
        <div class="left-nav"><a href="${ctxPath}/">首页</a> </div>
        <div class="left-nav"><a href="${ctxPath}/u/${user.id}/home">我的小窝</a></div>
        <div class="left-nav"><a href="${ctxPath}/thought/my">我的想法</a></div>
        <div class="left-nav"><a href="${ctxPath}/comment/my">我的回复<span class="layui-badge-dot" style="position: relative; top: -5px; left: 5px;"></span></a></div>
        <div class="left-nav"><a href="${ctxPath}/article/my">我的文章</a></div>
        <div class="left-nav"><a href="${ctxPath}/collection/find">我的收藏</a></div>
        <div class="left-nav"><a href="${ctxPath}/bgImg/change">更换背景</a></div>
        <div class="left-nav"><a href="javascript:;">我的趣豆：${user.qudouNum!0}粒</a></div>
    </div>
</div>