html{
    background-color: #eee;
}
.c-skin-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}
.c-opacity-white-background {
    background: none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .7)), to(rgba(255, 255, 255, .7))) !important;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 100%) !important;
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 100%) !important;
    background-image: -o-linear-gradient(rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 100%) !important;
    background-image: linear-gradient(rgba(255, 255, 255, .7) 0, rgba(255, 255, 255, .7) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3ffffff, endColorstr=#b3ffffff) !important;
}
body{
    margin-top: 5rem;
    line-height: 1.334;
    font-size: 12px;
    font-family: punctuation,"PingFangSC-Regular","Microsoft Yahei","sans-serif";
}
.iconfont{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.detail-body{margin: 20px 0 0; min-height: 306px; line-height: 26px; font-size: 16px; color: #333; word-wrap: break-word;}
.detail-body p{margin-bottom:15px;}
.detail-body a{color:#4f99cf;}
.detail-body img{max-width: 100%;}
.detail-body video{width: 100%;
    height: 100%;}
.fly-detail-user{white-space: nowrap; overflow: hidden;}
.fly-detail-user .staff{
    display: inline-block;
    border: 1px solid #563baa;
    font-weight: 400;
    font-size: 12px;
    border-radius: 2px;
    line-height: 14px;
    padding: 1px 2px;
    text-align: center;
    margin-left: 2px;
    vertical-align: middle;
    color: #755aa9;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fly-detail-user a{padding-right: 10px; font-size: 14px;}
.fly-detail-user .icon-renzheng{top: 1px;}
.detail-about{position: relative; line-height: 20px; padding: 15px 15px 15px 75px; font-size: 13px; background-color: #f8f8f8; color: #999;}
.detail-about .detail-hits{position: relative; top: 5px; line-height: 20px;}
.detail-hits span{height: 20px; line-height: 20px;}
.light-gray{
    color: #bfbfbf;
}
.fly-avatar {
    position: absolute;
    left: 15px;
    top: 15px;
}
.fly-avatar img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 2px;
}
.fly-footer {
    margin: 50px 0 0;
    padding: 20px 0 30px;
    line-height: 30px;
    text-align: center;
    color: #737573;
    border-top: 1px solid #e2e2e2;
}
.c-nav{
    margin-left: 60px;
}
.cwd-nav-user a.iconfont{
    color: #A9B7B7;
}
.cwd-nav-user .layui-nav-item dl{
    left: auto;
    right: 0;
    width: 120px;
    min-width: 0;
}
.cwd-nav-user .layui-nav-item .c-nav-icon{
    padding-right: 0;
}
body .iconfont {
    -webkit-text-stroke-width: 0;
}
.cwd-nav-user {
    position: absolute !important;;
    top:0;
    right: 0;
}
.c-head {
    position: fixed;
    left: 0;
    top:0;
    z-index: 10000;
    width: 100%;
    border-bottom: 1px solid #b5806654;
    border-right: 1px solid #404553;
    border-radius: 0;
    height: 60px;
}
.c-head  .layui-nav {
    padding: 0;
    background: none;
    max-width: 80%;
}
.c-nav-icon img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
}
.c-user-main>.c-panel{
    min-height: 575px;
    margin: 0 0 10px 215px;
}
.c-user-main>.layui-nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    padding: 10px 0;
}
.c-user-main>.layui-nav .layui-icon{
    position: relative;
    top: 2px;
    font-size: 20px;
    margin-right: 10px;
}
.c-fly-link{
    color: #01AAED;
}
.c-reply {
    position: relative;
}
.c-reply span{
    padding-right: 20px;
    color: #999;
    cursor: pointer;
}
.c-reply span i{
    margin-right: 5px;
    font-size: 16px;
}
.c-reply span .icon-zan {
    font-size: 22px;
}
.c-panel {
    background-color: #fff;
    border-radius: 2px;
    ox-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 15px;
}
.c-panel-title{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px dotted #E9E9E9;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
.c-panel-body{
    position: relative;
    padding: 10px 15px;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 15px;
    line-height: 1.7;
}
.c-panel-body img{max-width: 100%;}
.c-panel-body video{max-width: 100%;}
.c-list-info{position:relative;overflow:hidden;font-size:13px;line-height:2;padding: 0 0 16px;}
.c-list2{margin-bottom: 30px;}
.c-list2 li{position: relative; padding: 15px 20px; border-bottom: 1px dotted #DFDFDF;}
.c-list2 li:last-child{border-bottom: none;}
.c-list3 li{position: relative; padding: 0; border-bottom: 1px dotted #DFDFDF;margin-bottom: 16px;}
.c-list3 li:last-child{border-bottom: none;margin-bottom: 0px;}
.c-list li {
    position: relative;
    line-height: 22px;
    padding: 15px 15px 15px 75px;
    border-bottom: 1px dotted #e2e2e2;
}
.c-list-num{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0!important;
}
.c-position-rt{
    position: absolute;
    right: 15px;
    top:15px;
}
.c-position-lt{
    position: absolute;
    left: 15px;
    top:15px;
}
.c-list-num i{
    position: relative;
    padding: 0 3px 0 15px;
}
.title-first{
    color: #5FB878;
}
.detail-box{padding: 20px;}
.detail-box img{
    max-width: 100%;
}
.detail-box-thin{padding: 15px;}
.detail h1{font-size: 24px; line-height: 36px;}
.c-mid{
    display: inline-block;
    height: 10px;
    width: 1px;
    margin: 0 10px;
    background-color: #e2e2e2;
}
.home-logo {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #6e9bca;
}
.c-text-center{
    text-align: center;
}
.layui-nav-bar{
    height: 0!important;
}
.fly-edit {
    position: relative;
    display: block;
    top: 1px;
    left: 0;
    padding: 0 5px;
    border: 1px solid #e6e6e6;
    border-radius: 2px 2px 0 0;
    background-color: #FBFBFB;
}
.fly-edit span {
    cursor: pointer;
    padding: 0 5px;
    line-height: 38px;
    color: #009E94;
}
.fly-edit span i {
    position: relative;
    padding-right: 5px;
    font-size: 17px;
    top:2px;
}
.layui-edit-face ul {
    position: relative;
    width: 372px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.layui-edit-face ul li {
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    height: 22px;
    width: 26px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: center;
}
body .layui-edit-face .layui-layer-content {
    padding: 0;
    background-color: #fff;
    color: #666;
    box-shadow: none;
}
.layui-edit-face .layui-layer-TipsG {
    display: none;
}
.layer-names ul li:hover {
    background-color: #eee;
}
.layer-names ul {
    position: relative;
    width: 372px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.layer-names ul li {
    cursor: pointer;
    height: 22px;
    width: 100%;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: left;
}
body .layer-names .layui-layer-content {
    padding: 0;
    background-color: #fff;
    color: #666;
    box-shadow: none;
}
.layer-names .layui-layer-TipsG {
    display: none;
}
.layui-nav .layui-nav-more{
    display: none !important;
}
.home-icon{
    font-size: 30px !important; color: #1E9FFF;
}
#pagesplit{
    padding: 0 15px;
}
pre{
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 12px;
    border-left: 6px solid #009688;
    background-color: #F2F2F2;
    font-family: Courier New;
    overflow: auto;
}
.reply_time{
    color: #999;
    box-sizing: content-box;
    font-size: 14px;
}
.word-deal{
    word-break: break-all;
    word-wrap: break-word;
}
#LAY-editface img{
    max-width: 22px;
}
.fq-left{
    float: left;
}
.fq-right{
    float: right;
}
.fq-text-center{
    text-align: center;
}
.fq-text-right{
    text-align: right;
}
.fq-text-left{
    text-align: left;
}
.icon-qq, .icon-weibo {
    font-size: 30px;
}
.c-list-info .icon-renzheng{
    color: #FFB800;
}
.fly-nav-msg{position:absolute; top: 50%; left: -25px; height: 20px; line-height: 20px; margin-top: -10px; padding:0 6px; background-color: #FF7200; color: #fff; border-radius: 2px;}
.fly-nav-msg:hover{color:#fff;}
.fly-filter a{
    padding: 0 8px;
    color: #666;
}
.icon-nan {
    color: #4EBBF9;
}
.icon-nv {
    color: #F581B1;
}
img.emoji {
    height: 1.5em;
    width: 1.5em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
.layui-container {
    padding: 0;
}
.fly-signin-main{position:relative;height:38px;padding:24px 15px;text-align:center}
.fly-signin-main span{padding-left:10px}
.fly-signin-days{color:#999}
.fly-signin-list img{width:30px;height:30px;margin-right:10px;border-radius:2px}
.fly-signin-list li{margin-top:5px;padding-bottom:5px;border-bottom:1px dotted #e2e2e2;white-space:nowrap}
.fly-signin-list span{padding-left:10px}
.fly-signin-list .layui-tab-item{padding:10px;height:320px;overflow-x:auto;overflow-y:auto}
.c-reply .zanok{
    color: #c00;
}
span cite{
    font-style: normal;
}
.fly-msg {
    background-color: #F8F8F8;
    color: #666;
}
.fly-panel-border {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.sign-days-div {
    text-align: center;
    padding-top: 20px;
}
.fly-panel-main {
    padding: 10px 15px;
}
.fly-shortcut {
    margin: 5px 0;
}
.fly-shortcut li {
    text-align: center;
}
.fly-shortcut li .layui-icon {
    background-color: #2F9688;
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    font-size: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.fly-shortcut li cite {
    position: relative;
    top: 2px;
    display: block;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
.abs-top-right{
    position: absolute;
    right:0;
    top:0;
}
.left-block{padding:10px}
.left-block a{font-size:14px;font-weight:bold;padding:0 0 0 15px;height:34px;line-height:34px}
.home-nav{position:absolute;left:0;top:7px;z-index:1000;height:100%;padding:10px 0;background-color:#82b9dc;width:200px;border-radius:2px}
.left-nav{border-color:rgba(255,255,255,0.2)}

.right-nav{
    line-height: 1.7;
}
.right-nav li{position: relative}
.right-nav li a{
    overflow: hidden;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.right-nav li em {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #999;
    font-style: normal;
}
.qudouImg{
    position: relative;
    left: 0;
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
.t-area{padding-right:10px}
.reply-input span {
    position: absolute;
    right: 32px;
    cursor: pointer;
    padding: 0 10px;
    line-height: 38px;
    color: #009E94;
}
.c-poster{
    border-style: solid;
    border-width: 0 1px 1px;
    margin-bottom: 0;
    border-color: #e6e6e6;
    background-color: #fff;
    position: relative;
    height: 38px;
    z-index: 2;
}
.c-poster .c-poster-attach{
    position: absolute;
    top: 11px;
    left: 10px;
}
.c-poster .c-poster-attach a{
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.c-poster .op{
    position: absolute;
    top: 4px;
    right: 4px;
}
.reply-header span{
    padding-left: 10px;
    color: #eee;
}
.thought-pic{
    padding-top: 10px;
}
.thought-pic img{
    max-width: 31%;
    margin: 0 2px 2px 0;
}
.layui-laypage-custom a,.layui-laypage-custom button,.layui-laypage-custom input,.layui-laypage-custom select,.layui-laypage-custom span {
    border: 1px solid #009E94;
}
.layui-laypage-custom a,.layui-laypage-custom span {
    background-color: inherit;
}
.layui-laypage-custom  a:hover{
    color: #009E94;
}
.layui-laypage-custom .layui-laypage-curr .layui-laypage-em {
    background-color: #009E94
}
.c-answer {
    min-height: 500px;
    padding: 5px 20px;
}
.c-answer li {
    margin-bottom: 20px;
    line-height: 24px;
}
.c-answer li p {
    color: #999;
}
.c-answer li p span {
    padding-right: 5px;
}
.c-answer-content{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #F2F2F5;
    border-radius: 5px;
    word-wrap: break-word;
}
[data-cursor=big] {
    cursor: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cstyle%3E.st0%7Bfilter%3Aurl%28%23a%29%7D.st1%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cfilter%20filterUnits%3D%22objectBoundingBox%22%20height%3D%22200%25%22%20id%3D%22a%22%20width%3D%22200%25%22%20x%3D%22-50%25%22%20y%3D%22-50%25%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%2F%3E%3CfeGaussianBlur%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%20stdDeviation%3D%222%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowBlurOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.904268569%200%22%2F%3E%3C%2Ffilter%3E%3Cg%20class%3D%22st0%22%20transform%3D%22translate%28-707%20-1844%29%22%3E%3Cpath%20id%3D%22b_2_%22%20d%3D%22M730.8%201865.8c-.3.2-.7.2-.9%200l-5.2-5.1c-1.5%201.2-3.4%201.9-5.3%201.8-4.6%200-8.4-3.7-8.4-8.3%200-4.6%203.8-8.3%208.4-8.3%204.6%200%208.4%203.7%208.4%208.3%200%202.1-.8%204-2.2%205.6l5.2%205.1c.2.3.2.7%200%20.9zm-4.3-11.5c0-3.9-3.2-7-7.1-7s-7.1%203.1-7.1%207%203.2%207%207.1%207%207.1-3.1%207.1-7zm-3.8.7h-6.3c-.3%200-.6-.3-.6-.6s.3-.6.6-.6h6.3c.3%200%20.6.3.6.6s-.3.6-.6.6zm-2.6-3.8v6.3c0%20.3-.3.6-.6.6s-.6-.3-.6-.6v-6.3c0-.3.3-.6.6-.6.4%200%20.6.3.6.6z%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22translate%28-707%20-1844%29%22%3E%3Cpath%20id%3D%22b_1_%22%20class%3D%22st1%22%20d%3D%22M730.8%201865.8c-.3.2-.7.2-.9%200l-5.2-5.1c-1.5%201.2-3.4%201.9-5.3%201.8-4.6%200-8.4-3.7-8.4-8.3%200-4.6%203.8-8.3%208.4-8.3%204.6%200%208.4%203.7%208.4%208.3%200%202.1-.8%204-2.2%205.6l5.2%205.1c.2.3.2.7%200%20.9zm-4.3-11.5c0-3.9-3.2-7-7.1-7s-7.1%203.1-7.1%207%203.2%207%207.1%207%207.1-3.1%207.1-7zm-3.8.7h-6.3c-.3%200-.6-.3-.6-.6s.3-.6.6-.6h6.3c.3%200%20.6.3.6.6s-.3.6-.6.6zm-2.6-3.8v6.3c0%20.3-.3.6-.6.6s-.6-.3-.6-.6v-6.3c0-.3.3-.6.6-.6.4%200%20.6.3.6.6z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') 0 0,auto;
}
.thought-pic li{display:inline-block}
.layer-pic-list{width: 420px;
    height: 246px;
    bottom: -263px;
    left: -1px;
    position:absolute;z-index:9999;
    box-shadow:0 0 8px #dcdcdc;border:1px solid #f6f6f6}
.layer-pic-list:before {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #e8e8e8;
    position: absolute;
    top: -16px;
    left: 88px;
}
.layer-pic-list:after {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -12px;
    left: 90px;
}
.func-area{position:relative}
.imgUploadBox {
    padding: 12px;
}

.uploader-title {
    margin-bottom: 5px;
    font-size: 14px;
    color: #222;
}

.imgUploadBox .close-popup {
    color: #cacaca;
    font-size: 20px;
}
.imgUploadBox .to-upload-pictures .upload-img-item {
    display: inline-block;
    vertical-align: middle;
    width: 72px;
    height: 72px;
    margin: 0 8px 8px 0;
    background-color: #e8e8e8;
    background-size: 32px 32px;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.imgUploadBox .to-upload-pictures .upload-img-item .img-wrap {
    width: 216px;
    height: 72px;
    margin-left: -72px;
    text-align: center;
}
.upload-img-item .remove-img{
    font-size: 17px;
    background-color: #ed4040;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
}
.imgUploadBox .to-upload-pictures{
    font-size: 0;
    margin-right: -8px;
}
.imgUploadBox .to-upload-pictures .upload-img-add {
    cursor: pointer;
    background-color: #fff;
    border: 2px dashed #ddd;
    line-height: 90px;
    text-align: center;
}
.imgUploadBox .to-upload-pictures .upload-img-item img {
    display: inline-block;
    height: 100%;
}
.img-wrap {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    overflow: hidden;
    transform-style: preserve-3d;
}
.img-wrap>img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: all .5s ease-out .1s;
}
.upload-img-add .layui-icon-add-1{
    line-height: 1;
}
.ctr-a-v1 a{
    color: #295c9d;
}
.rank-list li{
    position: relative;
}
.rank-list-item {
    text-align: left;
    padding: 15px 0;
    margin-right: 15px;
    height: 60px;
}
.rank-list-item .icon-wrap{
    position: relative;
    height: 60px;
    width: 60px;
    float: left;
    margin-left: 5px;
}
.rank-list-item .rank-data{
    margin-top: 0px;
}
.rank-list-item .icon-wrap .icon-container{
    vertical-align: -14px;
    width: 50px;
    height: 50px;
    line-height: 47px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.rank-red{
    width: 18px;
    height: 25px;
    background-color: #ff5400;
    text-align: center;
    color: #fff;
}
.rank-red:after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 9px dashed transparent;
    border-bottom: 10px solid #fff;
    border-left: 9px dashed transparent;
}
@media screen and (max-width: 768px) {
    .fly-main{width: 100%;}

    /* 顶边距 */
    .fly-marginTop{margin-top: 0;}

    /* 头部 */
    .fly-header .fly-nav-user li .fly-nav-avatar{padding-right: 15px;}
    .fly-header .fly-nav-user{margin-right: 5px;}

    /* 页脚 */
    .fly-footer{margin-top: 0; border-top: none;}

    /* 分页 */
    .laypage-main a, .laypage-main span{display: none;}
    .laypage-main .laypage-prev,
    .laypage-main .laypage-curr,
    .laypage-main .laypage-next{display: inline-block;}

    /* 列表 */
    .fly-list li h2 a{max-width: 72%;}

    /* Detail 页 */
    .fly-admin-box{display: block; margin: 0; margin-top: 10px;}
    .fly-detail-info .fly-list-nums{top: -2px;}
    .fly-edit span{padding: 0 6px;}

    body .c-user-main{width: auto;}
    .c-user-main>.layui-nav{left: -300px;transition: all .3s;-webkit-transition: all .3s;}
    .c-user-main>.fly-panel-user{width: auto; margin-left: 0; transition: all .3s; -webkit-transition: all .3s;}
    .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 20px; left: 10px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
    .site-mobile .site-tree-mobile{display: none !important;}
    .site-mobile .c-user-main>.layui-nav{left: 0;}
    .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.9); z-index: 999;}

    .home-nav{left:-300px;transition:all .3s;-webkit-transition:all .3s}
    .site-mobile .home-nav{left:0}
    .home-all .home-main{margin-left:0}
}
