<?xml version="1.0" encoding="UTF-8"?>
<!-- status为不记录log4j本身的日志 -->
<configuration status="trace" name="feiqu">
    <!--<properties>
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">cwd-web</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            &lt;!&ndash; ThresholdFilter相当于拦截器.info以上的命令不会被拦截. &ndash;&gt;
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
        <File name="Error" fileName="${LOG_HOME}/cwd-web.error.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/app-%d{yyyyMMdd}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
            <appender-ref ref="Error" />
        </root>
    </loggers>-->
</configuration>
