<!DOCTYPE html>
<html lang="en">
<head>
    <%include("/common/_head.html"){}%>
    <title> API 接口文档 -飞趣</title>
    <style>
        @media screen and (min-width: 768px){
            .api-doc-nav.api-doc-index {
                padding-bottom: 0;
            }
        }
        .api-doc-nav {
            background-color: #fff;
        }

        .nav-menu {
            width: 20%;
        }
    </style>
</head>
<body>
<%
var user = c.currentUser(request, servlet.response);
var isLogin = false;
if(user != null){
isLogin=true;
}
include("/common/_headwithlogin.html",{user:user,isLogin:isLogin}){}
%>
<div class="api-doc-nav api-doc-index layui-clear">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md3">
            <%include("/common/_api_doc_menu.html",{user:user}){}%>
        </div>
        <div class="layui-col-md9">
            <div class="c-panel">
                <div class="c-panel-body">
                    <table class="layui-hide" id="${mapper}Manage" lay-filter="${mapper}"></table>
                    <script type="text/html" id="bar">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                    </script>
                    <script type="text/html" id="headToolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="add">新增项目</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<%include("/common/_footor.html"){}%>
</body>
<%include("/common/_scripts.html",{user:user}){}%>
<script>
    layui.use(['fly','table'], function(){
        var fly=layui.fly,table=layui.table,device=layui.device,form=layui.form;
        table.render({
            elem: '#${mapper}Manage'
            ,url:'/${mapper}/list'
            ,toolbar: '#headToolbar'
            ,title: '项目数据表'
            ,totalRow: true
            ,cols: [[
                {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
                {field:'projectName', title:'项目名称', width:100, fixed: 'left', unresize: true, sort: true},
                {field:'remark', title:'备注', width:100, fixed: 'left', unresize: true, sort: true},
                {field:'type', title:'类型', width:100, fixed: 'left', unresize: true, sort: true},
                {field:'createTime', title:'创建时间', width:160, fixed: 'left', unresize: false, sort: true},
                {fixed: 'right', width:150, align:'center', toolbar: '#bar'}
            ]]
            ,page: true
            ,response: {
                statusCode: '0000',
                msgName: 'message'
            }
            ,id: '${mapper}Reload'
            ,parseData: function(res){
                return {
                    "code": res.code,
                    "msg": res.message,
                    "count": res.data.total,
                    "data": res.data.list
                };
            }
        });
        table.on('toolbar(${mapper})', function(obj){
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 1
                        ,id: 'fq_${mapper}'
                        ,title: '新增项目'
                        ,area: (device.ios || device.android) ? ($(window).width() + 'px') : '660px'
                        ,content: ['<ul class="layui-form" style="margin: 20px;">'
                            ,'<li class="layui-form-item">'
                            ,'<label class="layui-form-label">名称</label>'
                            ,'<div class="layui-input-block">'
                            ,'<input required name="projectName" lay-verify="required" placeholder="项目名称"  class="layui-input">'
                            ,'</div>'
                            ,'</li>'
                            ,'<li class="layui-form-item">'
                            ,'<label class="layui-form-label">备注</label>'
                            ,'<div class="layui-input-block">'
                            ,'<input required name="remark" placeholder="备注"  class="layui-input">'
                            ,'</div>'
                            ,'</li>'
                            ,'<li class="layui-form-item">'
                            ,'<label class="layui-form-label">备注</label>'
                            ,'<div class="layui-input-block">'
                            ,'<select name="type" class="layui-select">'
                            ,'<option value="1">私有项目</option>'
                            ,'<option value="2">公开项目</option>'
                            ,'<option value="3">公开推荐</option>'
                            ,'</select>'
                            ,'</div>'
                            ,'</li>'
                            ,'<li class="layui-form-item">'
                            ,'<div class="layui-input-block">'
                            ,'<button type="button" lay-submit lay-filter="${mapper}" class="layui-btn">保存</button>'
                            ,'</div>'
                            ,'</li>'
                            ,'</ul>'].join('')
                        ,success: function(layero, index){
                            form.render('select')
                            form.on('submit(${mapper})', function(data){
                                fly.json('/${mapper}/save', data.field, function(res){
                                    layer.close(index);
                                    layer.msg('保存成功！', {
                                        icon: 1
                                    })
                                    table.reload('${mapper}Reload', {
                                        page: {
                                            curr: 1
                                        }
                                    });
                                });
                                return false;
                            })
                        }
                    });
                    break;
            };
        });
        table.on('tool(${mapper})', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除这个项目么', function(index){
                    fly.json('/${mapper}/delete?id='+data.id,{},function (res) {
                        layer.msg('删除成功！');
                        table.reload('${mapper}Reload', {
                            page: {
                                curr: 1
                            }
                        });
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                layer.open({
                    type: 1
                    ,id: 'fq_${mapper}'
                    ,title: '编辑项目'
                    ,area: (device.ios || device.android) ? ($(window).width() + 'px') : '660px'
                    ,content: ['<ul class="layui-form" style="margin: 20px;">'
                        ,'<li class="layui-form-item">'
                        ,'<label class="layui-form-label">项目名称</label>'
                        ,'<div class="layui-input-block">'
                        ,'<input required name="projectName" lay-verify="required" placeholder="友链名称" value="'+data.projectName+'" class="layui-input">'
                        ,'<input type="hidden" name="id" value="'+data.id+'">'
                        ,'</div>'
                        ,'</li>'
                        ,'<li class="layui-form-item">'
                        ,'<div class="layui-input-block">'
                        ,'<button type="button" lay-submit lay-filter="apiDocProject" class="layui-btn">保存</button>'
                        ,'</div>'
                        ,'</li>'
                        ,'</ul>'].join('')
                    ,success: function(layero, index){
                        form.on('submit(${mapper})', function(data){
                            fly.json('/${mapper}/save', data.field, function(res){
                                layer.close(index);
                                layer.msg('保存成功！', {
                                    icon: 1
                                })
                                table.reload('${mapper}Reload', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            });
                            return false;
                        })
                    }
                });
            }
        });
    });
</script>
</html>